<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.inventory.servlet.AddProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping><servlet>
    <servlet-name>ViewProductsServlet</servlet-name>
    <servlet-class>com.inventory.servlet.ViewProductsServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewProductsServlet</servlet-name>
    <url-pattern>/viewProducts</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.inventory.servlet.DeleteProductServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
</servlet-mapping>
</web-app>